* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(237, 237, 237);
}

.form-heading {
  text-align: center;
  color: rgb(192, 0, 192);
  font-size: 2.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.form-container {
  width: 50vw;
  background-color: white;
  border: none;
  border-radius: 20px;
  margin-left: 22vw;
  padding: 3rem;
  box-shadow: 5px 5px 30px gray;
}

.label {
  font-size: 1.6rem;
  font-weight: 700;
}

.task-name {
  width: 15rem;
  height: 2rem;
  padding: 0 1rem;
  margin: 0 1.2rem 0 1rem;
  border: solid 2px grey;
  border-radius: 10px;
}

.btn {
  background-color: rgb(192, 0, 192);
  padding: 0.55rem 2rem;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 5px 5px 15px grey;
}

.update {
  display: none;
  background-color: silver;
  padding: 0.7rem 1.2rem;
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 0.5rem;
  transition: 0.3s;
}

.update:hover {
  box-shadow: 5px 5px 15px grey;
}

.cancel {
  display: none;
  background-color: rgb(214, 57, 57);
  padding: 0.7rem 1.2rem;
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 0.5rem;
  transition: 0.3s;
}

.cancel:hover {
  box-shadow: 5px 5px 15px grey;
}

.btn-secondary {
  background-color: black;
  padding: 0.7rem 1.2rem;
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 10vh;
  transition: 0.3s;
}

.btn-secondary:hover {
  box-shadow: 5px 5px 15px grey;
}

.task-list {
  list-style: none;
  margin-top: 4rem;
}

.edit {
  margin: 0rem 1rem 0 28rem;
}

.edit:hover {
  cursor: pointer;
  color: rgb(192, 0, 192);
}

.delete:hover {
  cursor: pointer;
}

.list-item {
  box-shadow: 5px 5px 15px grey;
  padding: 0.8rem 2rem;
  margin-bottom: 0.9rem;
}

.list-item:hover {
  box-shadow: 9px 9px 18px grey;
}

.completed {
  text-decoration: line-through;
}
